<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SignUp page</title>

		<link href="stylesheets/s4le.css" rel="stylesheet">
		<link href="stylesheets/bootstrap.css" rel="stylesheet">
		<link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">	
		<link href="stylesheets/datepicker.css" rel="stylesheet">
		<link rel="stylesheet" href="BeforeLogin.css">	

		<script src="javascripts/lib/jquery-1.8.2.js"></script>
	    <script src="javascripts/lib/bootstrap.js"></script>
	    <script src="javascripts/lib/bootstrap-datepicker.js"></script>
	    <script type="text/javascript">
			$(document).ready(function(){ $('.datepicker').datepicker()});
		</script>

		<script src="javascripts/lib/angular-1.0.2/angular.js"></script>
	    <script src="javascripts/app/signup.js"></script>
	</head>

	<body>
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<a class="brand" href="#">S4LE </a>
				<ul class="nav pull-right">
				<li class="divider-vertical"></li>
				<li class="active"><a href="#">SignUp</a> </li>
				<li class="divider-vertical"></li>
				<li><a href="log_in.html">Login</a> </li>
			</ul>
			</div>
		</div>


		<div class="container" ng-controller="SignUpCtrl">
			<h2>Sign up</h2>
			<h4>Hello, <em>{{person.name}}</em></h3>
			<p>Please kindly provide us with some personal information to complete the registration.</p>

			<!--Contains form data for DOB and other personal info. -->
			<form class="form-horizontal well" action='' method="POST">
				<fieldset>					
					<legend>We'd love to hear a little more about you!</legend>
					<div class="control-group">
						<label class="control-label">Date Of Birth</label>
						<div class="controls">
							<input type="date" class="datepicker" ng-model="person.dateOfBirth" pattern="\d{1,2}/\d{1,2}/\d{4}" required>						
						</div>						
					</div>

					<div class="control-group">
						<label class="control-label">Gender</label>
						<div class="controls">
							<label class="radio inline">
								<input type="radio" ng-model="person.gender" name="gender" value="male"> Male
							</label>
							<label class="radio inline">
								<input type="radio" ng-model="person.gender" name="gender" value="female"> Female
							</label>
						</div>
					</div>

 					<div class="control-group">
						<label class="control-label">Marital Status</label>
						<div class="controls">
							<label class="radio inline">
								<input type="radio" ng-model="person.maritalStatus" name="maritalStatus" value="single"> Single								
							</label>
							<label class="radio inline">
								<input type="radio" ng-model="person.maritalStatus" name="maritalStatus" value="married"> Married
							</label>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Mobile Number</label>
						<div class="controls">
							<input type="text" ng-model="person.telephone">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Moblie Privacy Setting</label>
						<div class="controls">
							<label class="radio inline">
								<input type="radio" name="mobileSettings" value="default"> Default: Stay Undisclosed
							</label>							
							<label class="radio inline">
								<input type="radio" name="mobileSettings" value="visible"> Visible to all 
							</label>
							<p class="help-block">(shown only to confirmed buyer/seller)</p>
						</div>
					</div>
				</fieldset>
			</form>

			<!--Contains form data for Address. -->
			<form class="form-horizontal well">
				<fieldset>
					<legend>Where do you live?</legend>
					<div class="control-group">
						<label class="control-label">Home Address</label>
						<div class="controls">
							<p><input type="text" placeholder="Flat/Door Number"></p>
							<p><input type="text" placeholder="Street"></p>
							<p>
								<select>
									<option>Select Country</option>
									<option>India</option>
									<option>USA</option>
									<option>UK</option>
									<option>Australia</option>
								</select>
								<select>
									<option>Select State</option>
									<option>AP</option>
									<option>Kerala</option>
									<option>TN</option>
									<option>Punjab</option>
								</select>
								<select>
									<option>Select City</option>
									<option>Hyderabad</option>
									<option>Banglore</option>
									<option>Delhi</option>
									<option>Mumbai</option>
								</select>
								<select>
									<option>Select Area</option>
									<option>Banjara Hills</option>
									<option>Punjagutta</option>
									<option>Ameerpet</option>
									<option>SR Nagar</option>
								</select>
						    </p>
							<p><input type="text" placeholder="Pincode"></p>	
						</div>
					</div>					
				</fieldset>
			</form>

			<!--Contains form data about profession --> 
			<form class="form-horizontal well">
				<fieldset>
					<legend>What do you do?</legend>
					<div class="control-group">
						<label class="control-label">Profession</label>
						<div class="controls">
							<select>
								<option>Select Profession</option>
								<option>Student</option>
								<option>Engineer</option>
								<option>Teacher</option>
								<option>Doctor</option>
							</select>
						</div>						
					</div>

					<div class="control-group">
						<label class="control-label">Institution</label>
						<div class="controls">
							<input type="text" placeholder="Institution" ng-model="person.institution">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Job Designation</label>
						<div class="controls">
							<input type="text" placeholder="Job Designation" ng-model="person.jobDescription">
						</div>
					</div>
				</fieldset>
			</form>

			<hr>
			<!-- Listing out other options for user to check -->
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox"> I did not sign up with my 'Facebook' or 'Twitter ID'
				</label>
				<label class="checkbox">
					<input type="checkbox"> I would like to subscribe to the email newsletter from S4LE
				</label>
				<label class="checkbox">
					<input type="checkbox"> I agree to all the mentioned <a href="#">Terms & Conditions</a>
				</label>
			</div>

			<hr>
			
			<p><button type="submit" class="btn btn-success offset4 span3">Submit</button></p>
		</div>

		<footer class="footer">
			<div class="container">
				<p class="pull-right"><a href="#">Back to top</a></p>
				<ul class="footer-links">
					<li><a href="#1">Home</a></li>
					<li><a href="#2">About Us</a></li>
					<li><a href="#3">Sign up</a></li>
					<li><a href="#4">Merchant Login</a></li>
					<li><a href="#5">Contact Us</a></li>
				</ul>
			</div>
		</footer>
	</body>
</html>