#smaller{
	font-size: x-small; 
	color: red;
}
#premium{
	background-color: #DB7390;
}
#modaltitle{
  color: navy;
}
#modalnavlist li {
  display: inline;
}
#droplist {
  font-size: 10px;
  width: 100px;
  height: 30px;
}
.footer {
  padding: 10px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
}

.footer-links li {
  display: inline;
  margin-right: 10px;
}
